@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Caveat&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #71DEDD;
  color: #0c0c0c;
  height: 100%;
  width: 100%;
  background-image: url(../img/mobile-mountain2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 50px;
}
header .header__title {
  font-size: 4vh;
  margin-left: 20px;
}
header .fa-clipboard-check {
  font-size: 4vh;
  cursor: pointer;
  position: fixed;
  right: 20px;
}

main {
  height: 100%;
}
main aside {
  position: fixed;
  top: 75px;
  right: 27px;
  width: 220px;
  height: 400px;
  z-index: 50;
  background-color: #dadada;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px 0 10px 10px;
  padding: 15px;
  display: none;
}
main aside:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-left: 12px solid transparent;
  border-top: 12px solid transparent;
  border-bottom: 12px solid #dadada;
  border-right: 12px solid #dadada;
  position: absolute;
  z-index: 50;
  right: 0px;
  top: -22px;
}
main aside .task-form {
  width: 100%;
}
main aside #task-title {
  font-size: 1.8vh;
  font-weight: 500;
}
main aside input, main aside textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0c0c0c;
  width: 90%;
  margin: 10px auto 20px auto;
  padding: 5px 10px;
}
main aside textarea {
  height: 60px;
}
main aside input[type=submit] {
  background-color: #eecd3a;
  padding: 5px;
  width: 120px;
  border: 0.5px solid #0c0c0c;
  text-transform: uppercase;
  font-weight: 600;
  color: #0c0c0c;
  transition: all 0.5s;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
main aside label {
  display: block;
  width: 100%;
}
main aside #task-completion {
  width: auto;
}
main #list-of-tasks {
  min-height: 100%;
  padding-bottom: 100px;
}
main .mobile-menu-accessibility {
  display: block;
}
main .no-task {
  font-size: 4vh;
  font-style: italic;
  font-family: "Caveat", cursive;
  position: absolute;
  top: 45%;
}

footer {
  height: 35px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
  color: #999999;
  font-size: 1.8vh;
  padding: 10px 0;
}
footer q {
  width: 70%;
}
footer figcaption {
  align-self: flex-end;
}

.main__list-of-tasks {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.main__list-of-tasks .task-card {
  width: 80%;
  height: 150px;
  background-color: #dadada;
  list-style-type: none;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.main__list-of-tasks .task-card .card-text {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__list-of-tasks .task-card .card-text p {
  font-size: 2vh;
}
.main__list-of-tasks .task-card .card-text .header-task {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main__list-of-tasks .task-card .card-text .header-task .task-title-showned {
  flex-grow: 4;
  text-align: left;
  font-size: 2.5vh;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: rgb(2, 129, 2);
}
.main__list-of-tasks .task-card .card-text .header-task .task-edition, .main__list-of-tasks .task-card .card-text .header-task .task-to-trash {
  justify-self: end;
  margin: 0 5px;
  cursor: pointer;
}
.main__list-of-tasks .task-card .card-text .task-informations-showned {
  width: 100%;
  height: 60%;
  overflow-y: scroll;
  line-height: 2.5vh;
}
.main__list-of-tasks .task-card .card-text .footer-task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main__list-of-tasks .task-card .card-text .footer-task .task-deadline-showned {
  color: rgb(161, 78, 0);
  align-self: flex-end;
  font-size: 1.6vh;
}
.main__list-of-tasks .task-card .card-text .footer-task .task-finished-button {
  align-self: center;
}

.task-finished {
  background-color: #ffff82 !important;
}
.task-finished .task-finished-button {
  border: none;
  background-color: transparent;
}/*# sourceMappingURL=main.css.map */