$default-text-color: #0c0c0c;
$reverse-text-color: #f5f5f5;
$discret-text-color: #999999;

$body-backround: #71DEDD;
$aside-background: #dadada;

$button-background: #eecd3a;
$button-background-hover: #43ec43;